What industry feels the biggest pain if this is not solved specifically for them.
What are the competitors and SWOT analysis




How do we seperate buyers from users and who does the agent targets



Venture studio Problem
How to know a venture to kill  - Modupe Adebimpe